<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Page de connexion</title>
</head>
<body>
    <h1>Page de connexion</h1>
    <form th:action="@{quizz}" method="get">
        <div>
            <label th:for="username">Nom d'utilisateur :</label>
            <br>
            <input type="text" th:id="username" th:name="username" placeholder="your name">
        </div>
        <br>
        <div>
            <button type="submit">Connexion</button>
        </div>
    </form>
</body>
</html>
