<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions pour un champignon</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="/scripts/config.js" defer></script>
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/main.js" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header>
        <h1>Questions pour un champignon</h1>
        <h2>L'application pour apprendre plus vite</h2>
    </header>
    <!-- MAIN -->
    <main>
        <div>
            <span>Bonjour</span>
        </div>
        <div class="zoneQuestion">
            Questions
        </div>

        <div class="zoneReponse">
                <div class="optionReponse">
                <p>Choisissez votre réponse.</p>
                <br>
                <input type="radio" name="optionSource" id="reponse1" value="1">
                <label for="reponse1">Phrases</label>
                <br>
                <input type="radio" name="optionSource" id="reponse2" value="2">
                <label for="reponse2">Phrases</label>
                <br>
                <input type="radio" name="optionSource" id="reponse3" value="3">
                <label for="reponse3">Phrases</label>
                <br>
                <input type="radio" name="optionSource" id="reponse4" value="4">
                <label for="reponse4">Phrases</label>
            </div>
        </div>

        <div>
            <button id="btnValiderReponse">Valider</button>
        </div>

        <div class="zoneScore">
            Votre score : <span>0</span>
        </div>
        
    </main>

    <!-- FOOTER -->
    <footer>
        @Copyright : thomthom 2024
    </footer>
</body>
</html>