<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions pour un champignon</title>
    <style>
        .button-hover {
            padding: 5px;
            color: #c99d5a;
            background: black;
            border: 1px solid whitesmoke;
            border-radius: 8px;
            margin: 10px auto;
        }
        button:hover {
            background-color: darkslategray;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <header>
        <h1 style="text-align: center">Questions pour un champignon</h1>
        <h2 style="text-align: center">L'application pour apprendre plus vite</h2>
    </header>
    <!-- MAIN -->
    <main>

        <h2 style="color: #c99d5a; text-align: center">Welcome to the jungle</h2>

        <p style="color: #c99d5a; text-align: center" th:text="|Bonsoir ${username}|"></p>

        <form th:action="@{evaluate}" method="get">
            <fieldset style="margin: 10px auto; background-color: #044060; color: #c99d5a; width: 80%">
                <h3 style="text-align: center">Zé PARTi</h3>

                <div style="display: flex; flex-direction: column" th:each="question, questionIndex : ${questions}">
                    <p style="margin: 10px auto" th:text="${question.text}"></p>
                    <ul style="list-style: none; margin: 10px auto;">
                        <!-- Display correct answer -->
                        <li style="margin: 10px auto;">
                            <input style="display: inline-flex; list-style: none; padding: 2px" type="radio" th:value="${question.correctAnswer}" id="'correctAnswer_' + ${questionIndex.index}"/>
                            <label for="'correctAnswer_' + ${questionIndex.index}" th:text="${question.correctAnswer}"></label>
                        </li>
                        <!-- Display incorrect answers -->
                        <li style="margin: 10px auto;" th:each="answer : ${question.incorrectAnswers}">
                            <input style="display: inline-flex; list-style: none; padding: 2px" type="radio" th:value="${answer}" id="'incorrectAnswer_' + ${questionIndex.index}"/>
                            <label for="'incorrectAnswer_' + ${questionIndex.index}" th:text="${answer}"></label>
                        </li>
                    </ul>
                </div>

                <div style="display: flex;">
                    <button class="button-hover" type="submit">Valider</button>
                </div>
            </fieldset>
        </form>


    </main>

    <!-- FOOTER -->
    <footer>
        <div style="display: flex">
        <p style="margin: 20px auto">@Copyright : thomthom 2024</p>
        </div>
    </footer>
</body>
</html>