 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-primary: #75f1d0;
  --color-secondary: #eddd67;
  --color-tertiary: #ffffff;    
}


h1 {
  margin: 10px;
  font-size: 60px;
  font-weight: 900;
  color: var(--color-primary);
}

h2 {
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
  color: var(--color-secondary);
}


/* Mise en forme des formulaires */
input[type='radio'] {
  filter: grayscale(1);
}


input[type='text'],
input[type='email'] {
  width: 100%;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  font-size: 17px;
  color: var(--color-primary);
}

input[type='text']::placeholder,
input[type='email']::placeholder {
  color: var(--color-secondary);
  opacity: 50%;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: var(--color-secondary);
  background-color: white;
  margin: 10px auto 0;
}

button:hover {
  color: var(--color-primary);
  background-color: #212121;
  cursor: pointer;
}

button:focus {
  background-color: var(--color-tertiary);
  border: 3px solid var(--color-primary);
  padding: 10px;  
}

/**
* Eléments principaux
*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; 
  background-color: #212121;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 200px;
  margin-bottom: 50px;
  padding: 50px;
  text-align: center;
  color: rgb(43, 39, 39);
  font-size: 17px;
  font-weight: 500;
  border-radius: 30px;
  background-color: var(--color-secondary);
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  font-weight: 600;
  font-size: 17px;
  color: rgb(22, 22, 22);
  background-color: var(--color-secondary);
}

.zoneQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(138, 154, 230);
  font-size: 30px;
  font-weight: 600;
  color: var(--color-primary);
}

/* Zone d'options */
.optionReponse {
  margin: 20px;
  padding: 10px;
}

/* Zone ou sera affiché le texte (mot ou phrase) à afficher */
.zoneReponse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: #212121;
  font-size: 30px;
  font-weight: 600;
  color: var(--color-primary);
}


.zoneScore {
  margin: 20px auto 10px;
  padding: 10px;
  font-size: 20px;
}


/* En dessous de 1200 px */
@media screen and (max-width: 1200px) {
  main {
      width: 60%;
      padding: 30px;
  }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
  main {
      width: 90%;
      padding: 10px;
  }
}